<div class="banner" style="background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url(https://images.unsplash.com/photo-1519581472129-9abf8d19f696?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1650&q=80);">
  <div class="container">
    <h1><strong>FlashCar</strong></h1>
    <p>louer une voiture n'as jamais été aussi simple</p>
    <%= link_to "louer une voiture", cars_path, class: "btn-flat"  %>
  </div>
</div>
