#index-container {
  display: grid;
  grid-template-columns: 2fr 1fr;
}

#cards {
  display:grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 32px;
  margin-left: 32px;
  margin-right: 32px;
}

#map {
  height: 100vh;
}

img.card-img-top {
  height: 191px;
}
